<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Godot bundled" value=".tools/godot/Godot_v4.6-stable_mono_win64/GodotSharp/Tools/nupkgs" />
  </packageSources>
  <config><add key="globalPackagesFolder" value=".tools/packages" /></config>
</configuration>
